$primary-purple: #635fc7;
$primary-purple-hover: #a8a4ff;
$black: #000112;
$dark-background: #20212c;
$dark-grey: #2b2c37;
$lines-dark: #3e3f4e;
$medium-grey: #828fa3;
$lines-ligth: #e4ebfa;
$light-background-grey: #f4f7fd;
$white: #ffff;
$red: #ea5555;
$red-hover: #ff9898;

$heading-xl: 24px;
$body-line-height-xl: 30px;

$heading-l: 18px;
$body-line-height-l: 23px;

$heading-m: 15px;
$body-line-height-m: 19px;

$heading-s: 12px;
$body-line-height-s: 15px;

$body-l: 13px;
$body-line-height: 23px;

$body-m: 12px;
